*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: #d6e2f0
}
.kl-card{
    background-color: #fff;
    border-radius: 15px;
}
.card {
    text-align: center;
    width: 19em;
    height: 30em;    
}
.img img{
    width: 15em;
    height: 15em;
    border-radius: 15px;
    margin: clamp(16px, 2vw, 30px) 0; /* clamp( minimum en px/rem, préféré en %(la largeur de l'écran), maximum en px/rem */
    /*clamp au lieu de marign pour une meilleure reponsive */
}

.texte {
  font-family: outfit, sans-serif;
}
.texte h1{
  font-family: outfit, sans-serif;
  font-weight: 700;
  line-height: 28px;
  font-size: 20px;
}
.texte p{
  font-family: outfit, sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin: 15px 25px;
  color: #68778d;
}
